@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #222;
  background-color: #faf9f6;
}

.container {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

h1 {
  text-align: center;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

b {
  margin-top: 20px;
}

label {
  font-size: 20px;
  margin: 45px 0 5px 0;
}

input {
  margin-right: auto;
}
